body {
    background-color: white;
}

.topnav {
    background-color: white;
    overflow: hidden;
    padding-bottom: 0.50em;
    display: flex;
}
  
.topnav a {
    float: left;
    color: #6a7182;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    color: #2E3138;
    text-decoration: underline;
}
  
.topnav a.active {
    background-color: #EFD0CA;
    color: #2E3138;
    font: bold;
    border-radius: 0.5em;
}

.header {
    padding: 0.25em;
    background-color: #EFD0CA;
    border-radius: 1em;
}

.header h1 {
    color:#2E3138;
    font: bold;
    font-size: 2.5em;
    text-align: center;
}

.education {
    display: flex;
    margin-top: 2em;
}

.work {
    display: flex;
    margin-top: 1em;
}

.research {
    display: flex;
    margin-top: 1em;
}

.volunteer {
    display: flex;
    margin-top: 1em;
}

.subhead {
    margin-left: 2em;
    font-size: 1.7em;
    width: 20%;
    text-align: center;
}

.info {
    margin-left: 3em;
    margin-right: 3em;
    font-size: 1.2em;
    width: 80%;
    padding: 1.5em;
    border-radius: 1em;
    border: 0.01em solid #B86B5B;
    box-shadow: 0.5em 0.5em 0.5em #EFD0CA;
}

