body {
    background-color: white;
}

.topnav {
    background-color: white;
    overflow: hidden;
    padding-bottom: 0.50em;
    display: flex;
    margin-bottom: 0px;
}
  
.topnav a {
    float: left;
    color: #6a7182;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    color: #2E3138;
    text-decoration: underline;
}
  
.topnav a.active {
    background-color: #EFD0CA;
    color: #2E3138;
    font: bold;
    border-radius: 0.5em;
}
/* Header */
.header {
    height: 36em;
    background-color: #EFD0CA;
    border-radius: 1em;
    padding-top: 10.5em;
}

.header h1 {
    color:#2E3138;
    font: bold;
    font-size: 9.0em;
    text-align: center;
    margin-bottom: 0;
}

.header p.subheading {
    color:#2E3138;
    font: bold;
    font-size: 3.0em;
    text-align: center;
    margin-top: 0;
    padding-bottom: 3.5em;
}

/* About Me */
.about_me{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_me img {
    padding: 4.0em;
    border-radius: 50%;
}

.greeting {
    font-size: 2.5em;
    margin-bottom: 0;
}

.text {
    font-size: 1.75em;
    margin-right: 4.0em;
}

/* Contact */
.info {
    margin-top: 0em;
    text-align: center;
    font-size: 1.75em;
}

.contact_pages {
    display: flex;
    justify-content: center;
}

button {
    background-color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ecd6e3;
}

.more {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    color: #858ea3;
    margin-bottom: 5em;
    animation: more 1.5s ease-in-out infinite;
}

@keyframes more {
    0%, 100% {transform: translateY(0);;}
    50% {transform: translateY(5px); }
}