body {
    background-color: white;
}

.topnav {
    background-color: white;
    overflow: hidden;
    padding-bottom: 0.50em;
    display: flex;
}
  
.topnav a {
    float: left;
    color: #6a7182;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    color: #2E3138;
    text-decoration: underline;
}
  
.topnav a.active {
    background-color: #EFD0CA;
    color: #2E3138;
    font: bold;
    border-radius: 0.5em;
}

.header {
    padding: 0.25em;
    background-color: #EFD0CA;
    border-radius: 1em;
}

.header h1 {
    color:#2E3138;
    font: bold;
    font-size: 2.5em;
    text-align: center;
}

.project_pages {
    display: grid;
    padding: 1em;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
}

.project_button {
    width: 10cm;
    height: 12cm;
    background-color: #ecddda;
    box-shadow: 0.5em 0.5em 0.5em #EFD0CA;
    border-radius: 1em;
    border: 0.01em solid #B86B5B;
    font-size: 1.7em;
    font-family: 'Courier New', Courier, monospace;
    padding: 0.5em;
    margin: 1.0em;
}

img {
    width: 100%;
    height: auto;
    border: 0.1em solid #B86B5B;
    border-radius: 0.75em;

}