.home_page {
  display: flex;
  width: 90vw;
  flex-direction: column;
  margin: 10px;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 70vh;
}

.main > .content {
  background-color: #ebe8d8;
  width: 70vw;
  height: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  border: 5px, solid, #E6E1C5;
  padding: 20px;
}

.home_content {
  display: flex;
  height: 80%;
  align-items: center;
  font: 125px "Allura", cursive;
  color: #29435e;
  margin: 50px;
}

.about_content {
  display: flex;
  height: 80%;
  align-items: center;
  color: #29435e;
  margin: 50px;
}

.about_section h2 {
  font: 50px "Allura", cursive;
}

.about_section p {
  margin-right: 50px;
  font: 20px "IBM Plex Sans Condensed", sans-serif;
}

.about_section .social_button {
  height: 20px;
}

.about_content img {
  height: 80%;
  border: 5px solid, #29435e;
  border-radius: 15px;
}

.main > .sidebar {
  width: 25vw;
  height: 100%;
  border: 5px, solid, #E6E1C5;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
}

/* Header */
.header {
  width: 85w;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin: 10px;
  border: 5px, solid, #E6E1C5;
  border-radius: 30px;
}

.name {
  font: 35px "IBM Plex Sans Condensed", sans-serif;
  color: #29435e;
}

.social_button {
  height: 35px;
  margin: 5px;
}

/* Footer */
.footer {
  width: 90vw;
  box-sizing: border-box;
  margin-top: 4%;
  bottom: 0;
  left: 0;
  padding: 20px;
  text-align: right;
  font: 20px "IBM Plex Sans Condensed", sans-serif;
  color: #29435e;
}