body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;  
}

body.landing_bg {
  background-color: #29435e;
}

body.home_bg {
  background-color: #B4CDE7;
}

/* Landing Page */
.landing_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.starting_part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.starting_part h1 {
  font: 50px "Allura", cursive;
  color: #ebe8d8;
  margin: 0px;
}

.starting_part p {
  font: 25px "IBM Plex Sans Condensed", sans-serif;
  color: #ebe8d8;
  margin: 0px;
}

.starting_part button {
  font: 20px "IBM Plex Sans Condensed", sans-serif;
  border: 5px, solid, #898467;
  background-color: #E6E1C5;
  color: #898467;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  align-content: center;
  justify-content: center;
  width: 10vw;
}

.starting_part button:hover {
  background-color: #B4CDE7;
  color: #29435e;
  border: 5px, solid, #13263a ;
  cursor: pointer;
}

.animation_part {
  background-color: #ebe8d8;
  border-radius: 20px;
  padding: 10px;
}

.animation_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 15px, solid, #13263a;
  border-radius: 20px;
  padding: 30px;
  width: max-content;
  height: max-content;
}

.animation_box {
  background-color: #B4CDE7;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin-bottom: 10px;
  border: 2px, solid, #7f9ebf ;
}

.animation_part video {
  width: 95%;
  margin-bottom: 10px;
  transition: opacity 1s ease-in-out;
}

.dialogue_box {
  width: 40vw;
  height: fit-content;
  border-radius: 20px;
  cursor: pointer;
}

.dialogue_box p {
  font: 15px "IBM Plex Sans Condensed", sans-serif;
  color: #13263a;
  margin: 20px;
  text-align: left;
}

.dialogue_box h3 {
  color: #13263a;
  margin: 20px;
  text-align: right;
  font: 10px "IBM Plex Sans Condensed", sans-serif;
}

.loading_part video {
  width: 25vw;
}

/* Home Page */
.home_page {
  display: flex;
  width: 90vw;
  max-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

/* Animation */
@keyframes fadeIn {
  from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 90vw;
  height: 70vh;
}

.main > .content {
  background-color: #ebe8d8;
  width: 100vw;
  height: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 5px, solid, #E6E1C5;
  padding: 20px;
}

.home_content_cont {
  justify-content: left;
  width: 100%;
}

.home_content {
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: left;
  font: 80px "Allura", cursive;
  color: #29435e;
  margin: 50px;
}

.about_content {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards; 
  display: flex;
  height: 80%;
  align-items: center;
  color: #29435e;
  margin: 50px;
}

.about_section h2 {
  font: 50px "Allura", cursive;
}

.about_section p {
  margin-right: 50px;
  font: 20px "IBM Plex Sans Condensed", sans-serif;
}

.about_section .social_button {
  height: 20px;
}

.about_content img {
  height: 80%;
  border: 5px solid, #29435e;
  border-radius: 15px;
}

.coding_content {
  animation: fadeIn 1s ease-in forwards; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  gap: 30px;
  max-height: 95%;
  max-width: 95%;
}

.media_content {
  animation: fadeIn 1s ease-in forwards; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  gap: 20px;
  max-height: 95%;
  max-width: 95%;
}

.coding_content > .project_cont {
  display: flex;
  flex-direction: row;
  max-height: min-content;
  min-width: 50%;
  height: 90%;
  color: #898467;
  border: 2px, solid, #898467;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.media_content > .project_cont {
  display: flex;
  flex-direction: column;
  align-content: center;
  color: #898467;
  border: 2px, solid, #898467;
  border-radius: 10px;
  padding: 25px;
  height: 90%;
}

.project_cont:hover {
  background-color: #898467;
  color: #ebe8d8;
  filter: brightness(0.75);
  transform: translate(10px, -10px);
  box-shadow: -10px 10px 10px #B4CDE7;
  cursor: pointer;
}

.project_cont.active {
  background-color: #29435e;
  color: #B4CDE7;
  border: 2px, solid, #B4CDE7;
  transform: translate(10px, -10px);
  box-shadow: -10px 10px 10px #B4CDE7;
}

.project_cont.active:hover {
  filter: brightness(1.00)
}

.project_desc h3 {
  font: 20px "Allura", cursive;
  margin-bottom: 5px;
}

.project_desc p {
  font: 12px "IBM Plex Sans Condensed", sans-serif;
}

.project_img_cont {
  max-width: 250px;
  max-height: 180px; 
  display: flex;
  align-items: center;
  overflow: hidden;
}

.project_img_cont img {
  max-width: 90%;
	max-height: 100%;
  border: 2px, solid, #29435e;
  border-radius: 5px;
  object-fit: cover
}

.thumbnail_cont {
  height: fit-content; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.thumbnail_cont img {
  width: 95%;
  border: 2px, solid, #29435e;
  border-radius: 5px;
  object-fit: cover
}

.main > .sidebar {
  background-color: #29435e;
  width: 25vw;
  height: 100%;
  border: 5px, solid, #29435e;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.sidebar_cont {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  max-height: fit-content;
}

.comments_cont {
  background-color: #f7f6f1;
  width: 75%;
  height: max-content;
  margin: 20px 0;
  display: flex;
  align-items: end;
  border-radius: 40px 40px 0px 40px;
  border: 2px solid, #E6E1C5;
  padding: 20px;
  font: 12px "IBM Plex Sans Condensed", sans-serif;
}

.avatar_container {
  display: flex;
  justify-content: end;
}

.nav_button {
  color: #29435e;
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav_button_inactive {
  background-color: #E6E1C5;
  width: 90%;
  height: 40px;
  margin: 10px;
  font: 20px "IBM Plex Sans Condensed", sans-serif;
  border: 5px, solid, #898467;
  border-radius: 5px;
}

.nav_button_active {
  width: 90%;
  height: 40px;
  margin: 10px;
  font: 20px "IBM Plex Sans Condensed", sans-serif;
  background-color: #B4CDE7;
  border: 5px, solid, #29435e;
  color: #29435e;
  filter: brightness(0.85);
}

.nav_button_inactive:hover {
  cursor: pointer;
  filter: brightness(0.5);
}

/* Header */
.header {
  width: 75vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin: 5px;
  border: 2px, solid, #E6E1C5;
  border-radius: 30px;
}

.name {
  font: 20px "IBM Plex Sans Condensed", sans-serif;
  color: #29435e;
}

.social_button {
  height: 35px;
  margin: 5px;
}

/* Footer */
.footer {
  width: 90vw;
  box-sizing: border-box;
  margin-top: 4%;
  bottom: 0;
  left: 0;
  padding: 20px;
  text-align: right;
  font: 12px "IBM Plex Sans Condensed", sans-serif;
  color: #29435e;
}