body {
    background-color: white;
}

.topnav {
    background-color: white;
    overflow: hidden;
    padding-bottom: 0.50em;
    display: flex;
    margin-bottom: 0px;
}
  
.topnav a {
    float: left;
    color: #6a7182;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    color: #2E3138;
    text-decoration: underline;
}
  
.topnav a.active {
    background-color: #EFD0CA;
    color: #2E3138;
    font: bold;
    border-radius: 0.5em;
}
/* Header */
.home_header {
    height: 36em;
    background-color: #EFD0CA;
    border-radius: 1em;
    padding-top: 10.5em;
}

.home_header h1 {
    color:#2E3138;
    font: bold;
    font-size: 9.0em;
    text-align: center;
    margin-bottom: 0;
}

.home_header p.subheading {
    color:#2E3138;
    font: bold;
    font-size: 3.0em;
    text-align: center;
    margin-top: 0;
    padding-bottom: 3.5em;
}

/* About Me */
.about_me{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_me img {
    padding: 4.0em;
    border-radius: 50%;
}

.greeting {
    font-size: 2.5em;
    margin-bottom: 0;
}

.text {
    font-size: 1.75em;
    margin-right: 4.0em;
}

/* Contact */
.home_info {
    margin-top: 0em;
    text-align: center;
    font-size: 1.75em;
}

.contact_pages {
    display: flex;
    justify-content: center;
}

.home_button {
    background-color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.home_button:hover {
    background-color: #ecd6e3;
}

.more {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    color: #858ea3;
    margin-bottom: 5em;
    animation: more 1.5s ease-in-out infinite;
}

.header {
    padding: 0.25em;
    background-color: #EFD0CA;
    border-radius: 1em;
}

.header h1 {
    color:#2E3138;
    font: bold;
    font-size: 2.5em;
    text-align: center;
}

.education {
    display: flex;
    margin-top: 2em;
}

.work {
    display: flex;
    margin-top: 1em;
}

.research {
    display: flex;
    margin-top: 1em;
}

.volunteer {
    display: flex;
    margin-top: 1em;
}

.subhead {
    margin-left: 2em;
    font-size: 1.7em;
    width: 20%;
    text-align: center;
}

.info {
    margin-left: 3em;
    margin-right: 3em;
    font-size: 1.2em;
    width: 80%;
    padding: 1.5em;
    border-radius: 1em;
    border: 0.01em solid #B86B5B;
    box-shadow: 0.5em 0.5em 0.5em #EFD0CA;
}

.project_pages {
    display: grid;
    padding: 1em;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
}

.project_button {
    width: 10cm;
    height: 12cm;
    background-color: #ecddda;
    box-shadow: 0.5em 0.5em 0.5em #EFD0CA;
    border-radius: 1em;
    border: 0.01em solid #B86B5B;
    font-size: 1.7em;
    font-family: 'Courier New', Courier, monospace;
    padding: 0.5em;
    margin: 1.0em;
}

.project_button:hover {
    background-color: #d5aca4;
    width: 11cm;
    height: 13cm;
    text-decoration: underline;
} 

.project_button img {
    width: 100%;
    height: auto;
    border: 0.1em solid #e4a295;
    border-radius: 0.75em;

}

.wip_button {
    width: 10cm;
    height: 12cm;
    background-color: #7f7977;
    box-shadow: 0.5em 0.5em 0.5em #646464;
    border-radius: 1em;
    border: 0.01em solid #B86B5B;
    font-size: 1.7em;
    font-family: 'Courier New', Courier, monospace;
    padding: 0.5em;
    margin: 1.0em;
}

.headerPhotos {
    padding: 1.0em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerPhotos img {
    padding: 0.5em;
    border-radius: 1em;
}



.description {
    background-color: #EFD0CA;
    margin-top: 0em;
    margin-left: 9em;
    margin-right: 9em;
    padding-top: 1em; 
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    border-radius: 2em;
}

